* {
   /* 전체 선택자 */
   margin: 0;
   padding: 0;
}

body {
   /* 타입 선택자 */
   background-color: #ccc;
   padding: 20px;
}

#signup {
   /* id 선택자 */
   background-color: white;
   border: 1px solid #222; /* border 지정 */
   border-radius: 5px;
   padding: 20px;
   width: 400px;
   margin: 30px auto; /* 가운데 정렬 */
}

#signup > fieldset {
   /* 자식 선택자 */
   /* signup의 자식태그 fieldset 선택 */
   border: 1px solid #ccc; /* border 지정 */
   margin-bottom: 30px; /* 밑으로 마진 30px */
}

/* #signup > fieldset > legend {} */
/* signup 밑의 fieldset 밑의 legend 선택 */
/* 아래와 똑같음 더 편한 아래걸 쓰겠음 */

#signup legend {
   /* signup의 모든 하위태그들 중 legend 선택 */
   font-size: 16px;
   font-weight: bold;
   padding-left: 5px;
   padding-bottom: 10px;
}

/* #signup > fieldset > ul > li {} */
/* 아래와 똑같음 편한거 쓰겠음 */
#signup ul li {
   /* legend 선택과 설명 동일 */
   list-style-type: none;
   line-height: 30px;
   padding: 5px 10px;
   margin-bottom: 2px;
}

/* #signup > fieldset > button {} */
/* 아래와 똑같음 편한거 쓴다. */
#signup button {
   /* 계속 똑같은거니까 설명 필요없제 */
   border: 1px solid #222;
   border-radius: 20px;
   font-size: 16px;
   letter-spacing: 1px; /* 문자 사이 간격 */
   display: block;
   /* button태그는 inline태그여서 block태그로 바꿈*/
   /* margin, padding이 잘 안 먹을수도 있어서임 */
   margin: 0 auto; /* 가운데정렬 */
   padding: 7px 25px; /* 패딩 넣어주기 */
}

/* #signup > ul > li > label {} */
/* 느낌알제? */
#signup label {
   /* 느낌알제? */
   float: left;
   font-size: 13px;
   width: 110px; /* 네모상자 정렬하는 것임 */
}
